{% load wagtailcore_tags %}

<div class="tabs-block" role="tablist">
    <ul class="nav nav-tabs" role="tablist">
        {% for tab in value.tabs %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if forloop.first %}active{% endif %}" 
                        id="tab-{{ forloop.counter }}" 
                        data-bs-toggle="tab" 
                        data-bs-target="#tab-content-{{ forloop.counter }}"
                        type="button" role="tab" 
                        aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                    {{ tab.value.label }}
                </button>
            </li>
        {% endfor %}
    </ul>
    
    <div class="tab-content">
        {% for tab in value.tabs %}
            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" 
                 id="tab-content-{{ forloop.counter }}" 
                 role="tabpanel" 
                 aria-labelledby="tab-{{ forloop.counter }}">
                {{ tab.value.content|richtext }}
            </div>
        {% endfor %}
    </div>
</div>
